<% include ../partials/header %>
<!-- sent here from show posts, edit particular player -->
  <div>
    <h1>Edit Player Name</h1>
    <form action="/players/<%= player.id %>?_method=put" method="POST">
      <div class="field">
        <label for="name">Player:</label>
        <input type="text" name="player[name]" id="name" value="<%= player.name %>">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

<% include ../partials/footer %>