<% include ../partials/header %>

<div class="ui page grid">
    <div class="right">

      <% if (currentuser !== ""){ %>
        <div class="ui default button">
          <a href="/trades/new">
          <i class="plus icon"></i>
          Add a new trade</a>
        </div>

      <% }  %>
    </div>
    <h1 class="ui dividing header">Trades</h1>
  </div>
  <div id="allPosts" class="ui page">
    <% trades.forEach(function(trade) {  %>
    <div class="ui items">
      <div class="item">
        <div class="middle aligned content">
          <a class="header" href="/trades/<%= trade.id %>"><%= trade.id %></a>
          <div><%trade.myplayers%>for<%trade.theirplayers%></div>
          <span><em>Proposed By: <%= trade.author.username %></em> - </span>
          <span class="meta date"><%= trade.date %></span>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

<!-- vote on best player -->

<% include ../partials/footer %>