<% include ../partials/header %>
  <div class="ui two column centered grid">
    <div class="column">
      <h1>Create a new trade!</h1>
      <form action="/trades" method="POST">



      <!-- trade fields, determine #, flexibility -->
        <div class="ui form segment">
          <div class="two fields">
            <div class="field">
              <label for="player1">Player 1:</label>
              <input type="text" id="player1" name="trade[playerone]" placeholder="Enter A Player" autofocus="true">
            </div>
            <div class="field">
              <label for="">Player 2:</label>
              <input type="text" name="trade[player2]" id="player2" placeholder="">
            </div>
            </div>
              <input type="hidden" name="trade[author]" id="author" value="<%= author_id %>">
              <input class="ui submit button" type="submit">
            </div>
        </div>
      </form>
    </div>
  </div>
<% include ../partials/footer %>