<% include ../partials/header %>

<div class="login">
  <div class="heading">
    <h2>Sign in</h2>

    <!-- send information to the server -->
   <form action="/login" method="POST">

        <div class="input-group input-group-lg">
          <input type="text" name="user[username]" id="username" placeholder="Username" autofocus>
        </div>

        <div class="input-group input-group-lg">
          <input type="password" name="user[password]" id="password" placeholder="Password" autofocus>
        </div>
        <div class="enter">
          <button class="btn btn-default"type="submit">Enter</button>
        </div>
        <div class="signup">
          <a href="/signup">Not a member?</href>
        </div>
      </form>
    </div>
  </div>
  
<% include ../partials/footer %>